* {
    background-color: #F5D1A1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    scroll-padding-top: 125px;
}
header{
    padding: 20px
}
nav {
    border: solid black;
}
.navbar-item.large, .navbar-item {
    padding: 0px;
    margin-left: 25px;
    margin-right: 25px;
}
.navbar-item img {
    height: 90px;
    max-height: 90px;
}
.navbar, .navbar-item, .navbar-item img{
    height: 90px;
}
.navbar {
    height: 120px;
    position: sticky;
}
.navbar-brand{
    font-size: 48px;
    color: #bf3d4c;
    font:bold;
}
.navbar-item{
<<<<<<< HEAD
margin: 20px;
color:#bf3d4c;
font:bold;
=======
    margin: 10px;
    font:bold;
}
.large {
    font-size: larger;
>>>>>>> main
}
 
header h1{
    font-size: 40px;
    color: #bf3d4c;
}

.hero{
    height: 100vh;
    width: 100%;
    margin-bottom: 25px;
    border: black solid;
    background-size: cover;
    background-position: center;
}
/*.photo {
    height: 50vh;
    max-width: none;
    margin-top: 120px;
    border: black solid;
    background-size: cover;
    background-position: center;
} */
#searchGeo{
    position: absolute;
    top:50%;
    left: 50%;
    right: 50%;
    filter:blur(.8px);
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    width: 300px;
    height: 70px;
    font-size: xx-large;
    border-radius: 20px;
    font:bolder;
    color:black;
    background:transparent;
    border-style:groove;
    box-shadow: 10px;
}
#Geo{
    position: relative;
}
#GeoImg{
   position: relative; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}

input {
    border-radius: 20px;
    width: 75%;
    height: 20px;
    background-color:antiquewhite;
    justify-content: center;
}
#searchBnb{

    width: 23%;
    height: 30px;
    border-radius: 20px;
    justify-content: center;
    padding: 3px;

}
button:hover{
    color:#894049
}
footer {
    padding: 20px;
    clear: both;
    text-align: center;
}
    
footer h2 {
    font-size: 10px;
}

.red {
    color: #bf3d4c;
}
span {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.no-background {
    background: none;
}
.modal-card {
    border-radius: 15px;
}
.modal-card-body {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 100px;
    
}
.modal-input {
    border: solid 1px;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#message {
    padding:15px;
    height: 100px;
}
.bold {
    font-weight: bold;
}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 600px){

}

@media screen and (min-width: 482px){
    
}
